{% extends "base.html" %}

{% block page_content %}

{% for post in posts %}

<!--<div class="card">
  <div class="card-body">  -->
        <div style = "background:rgba(59,63,63,1.00) !important" class="jumbotron">
          <h1 class="text-light display-4">{{ post.title }}</h1>
         <p class="lead text-light">{{ post.description }}</p>
         <hr class="my-4">
         <p class = "text-light">Dodane {{post.dateadded}}</br>
           <span class="badge badge-secondary">{{post.subject}}</span>   <span class="badge badge-info">S{{post.semester}}</span></p>
          <p class="lead">
           <a class="btn btn-primary btn-lg" href="{{post.linkto}}" role="button">Więcej</a>
         </p>
        </div>
        <!--
  </div>
</div>   -->
{% endfor %}

{% endblock %}
