{% extends "base.html" %}

{% block page_content %}

{% for meme in memes %}

<!--<div class="card">
  <div class="card-body">  -->
        <div style = "background:rgba(59,63,63,1.00) !important" class="jumbotron">
             <img src="{{meme.url}}" class="img-fluid" alt="Responsive image">
        </div>
        <!--
  </div>
</div>   -->
{% endfor %}

{% endblock %}
